<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="Hauptgebäude.css">
    <title>Hauptgebäude</title>
</head>

<body id="raum5">
    <h1> 
        <p id="hg5t1"> Du befindest dich im letzten Raum <br>
            des Hauptgebäudes. Nun <br> finde den Ausgang!</p>
    </h1>

    

    <script>
    function back() {
        window.location.replace("../welcome.html");
    }
    </script>

    <img src="https://media.discordapp.net/attachments/579406200165236756/869594022505762886/image0.jpg" alt="Exit sign" id="img1">
    <button type="button" id="button6" onclick="back();">
        ..........
    </button>
</body>