<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="Hauptgebäude.css">
    <title>Hauptgebäude</title>
</head>

<body id="raum1">
    <h1> 
        Du befindest dich vor dem Hauptgebäude.
    </h1>


    <h2>
        Finde einen Weg herein.
        (Tipp: Türen können nützlich sein)
    </h2>

        <button type="button" id="button1" onclick="door()">
            a
        </button>

    <script>
    function door() {
        window.location.replace("../hauptgebauede/HgRaum1Tür.html");    }
    </script>

</body>