<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vorlesungsgebäude.css">
    <title>Document</title>
</head>
<body id="eingang">
    <img src="https://hpi.de/fileadmin/user_upload/hpi/navigation/25_presse/25_bildmaterial/05_Fotos/10_campus/20111017_HPI_Hoersaal_3054x2036.jpg" usemap="#image-map">

    <map name="image-map">
        <area target="_blank" alt="Fenster" title="Fenster" href="../falsch.html" coords="85,300,660,360,660,600,85,460" shape="poly">
        <area target="_blank" alt="Tür" title="Tür" href="aufgaben.html" coords="815,500,815,580,850,580,850,500" shape="poly" >
    </map>
    <div class="headline">
        <h2>Hallo, du wurdest hier im Vorlesungsgebäude aus Versehen eingeschlossen. Doch mit ein wenig Glück kannst du dich befreien!<h2>
    </div>
</body>
</html>