<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HausABC.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="script.js"></script>
    <title>Dachterrasse</title>
</head>
<body style="background-image: url('https://i.ibb.co/7tt8qLG/IMG-20210726-155430.jpg');">
    <h3 id="task" draggable="false">Steuere mit WASD und essecv alle Computer ein!</h3>
    <img id="phone" src="https://i.ibb.co/TKnYgvx/pokemon.png" alt="phone in hand">
    <progress value="1" max="3" id="progress"></progress>
    <button type="button" id="exit" onclick="exit()">
        X
    </button>
</body>
</html>