<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">-->
    <link rel="stylesheet" href="welcome.css">
    <script src="script.js"></script>
    <title>HPI-Escape-Room</title>
</head>
<body>
<img id="img" usemap="#infographic" src="https://hpi.de/fileadmin/user_upload/hpi/navigation/25_presse/25_bildmaterial/05_Fotos/10_campus/20110718_HPI_Luftbild_2244x1494.jpg" alt="MDN infographic" />     
<map name="infographic">
    <area target="_blank" alt="Hauptgebauede" title="Hauptgebauede" href="hauptgebaeude/HgRaum1.html" coords="839,426,837,553,980,583,1020,462,1075,448,1155,522,1273,575,1523,755,1731,795,1735,688,1373,399,1184,298,1069,276,968,302,907,349" shape="poly">
    <area target="_blank" alt="Vorlesungsgebäude" title="Vorlesungsgebäude" href="vorlesungsgebauede/vlraum1.html" coords="770,871,635,849,605,863,532,851,520,764,433,754,542,643,701,688,780,550,946,583,958,653,879,768,794,865" shape="poly">
    <area target="_blank" alt="ABC-Haus" title="ABC-Haus" href="HausABC/Cafe.html" coords="1737,819,1525,768,1515,779,1474,774,1446,811,1402,801,1375,843,1363,894,1196,867,1111,992,1182,1120,1188,1217,1176,1247,1174,1366,1283,1392,1472,1425,1599,1207,1597,1099,1434,1023,1484,1025,1674,1053" shape="poly">
</map>

<div class="headline">
    <h2>Wilkommen beim HPI-Escape-Room</h2>
</div>
<div id="btns-wel">
    <!--<button type="button" id="btn-1-wel" onclick="openVorlesungsgebäude()">
        Vorlesungsgebäude
    </button>
    <button type="button" id="btn-2-wel" onclick="openHauptgebäude()">
        Hauptgebäude
    </button>
    <button type="button" id="btn-3-wel" onclick="openHausABC()">
        HausABC
    </button> -->
</div>
<script src="script.js"></script>
</body>
</html>